on:
  push:
    branches:
      - main
name: "Test i9lyfe"
jobs:
  Tests:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

      redis-server:
        image: redis:latest
        ports:
          - 6379:6379
    strategy:
      matrix:
        go-version:
          - 1.25.x

    steps:
      - name: Fetch Repository
        uses: actions/checkout@v4

      - name: Wait for PostgreSQL to be ready
        run: |
          until pg_isready -h localhost -p 5432 -U ${{ secrets.POSTGRES_USER }}; do
            echo "Waiting for postgres..."
            sleep 2
          done

      - name: Initialize database with SQL file
        env:
          PGPASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
        run: |
          psql -h localhost -U ${{ secrets.POSTGRES_USER }} -d ${{ secrets.POSTGRES_DB }} -s -f ./i9lyfedb-schema.sql

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: "${{ matrix.go-version }}"

      - name: Write GCP service account key
        run: |
          echo '${{ secrets.GCP_SA_KEY }}' > $HOME/gcp-key.json

      - name: Set GCP credentials env var
        run: |
          echo "GOOGLE_APPLICATION_CREDENTIALS=$HOME/gcp-key.json" >> $GITHUB_ENV

      - name: Run Test
        run: cd ./tests && go test ./... -v
        env:
          PGDATABASE_URL: "postgresql://${{ secrets.POSTGRES_USER }}:${{ secrets.POSTGRES_PASSWORD }}@localhost:5432/${{ secrets.POSTGRES_DB }}"
          REDIS_ADDR: "localhost:6379"
          AUTH_JWT_SECRET: ${{ secrets.AUTH_JWT_SECRET }}
          COOKIE_SECRET: ${{ secrets.COOKIE_SECRET }}
          MAILING_EMAIL: ${{ secrets.MAILING_EMAIL }}
          MAILING_PASSWORD: ${{ secrets.MAILING_PASSWORD }}
          GCS_BUCKET_NAME: ${{ secrets.GCS_BUCKET_NAME }}
          GCP_PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
          DUMMY_TOKEN: ${{ secrets.DUMMY_TOKEN }}
          SERVER_HOST: ${{ vars.SERVER_HOST }}
          GO_ENV: remote_test
